*.umap
*.uasset
*.uproject
*.wav
*.fbx filter=lfs diff=lfs merge=lfs -text
*.blend filter=lfs diff=lfs merge=lfs -text
*.obj
*.png
*.jpg
*.jpeg
*.hdr
*.exr
*.mp3
*.mp4
*.mov
*.psd filter=lfs diff=lfs merge=lfs -text
*.mb
*.tga
*.cubemap
*.tif
*.bin.fbx
*.upk
*.udk
*.duf
